*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*whole body*/
html{
    min-height: 100vh
}
body{
    font-family: 'Martel', serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.btn {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/*navbar*/
.navbar{
    background-color: #000;
    
}
.navbar-brand{
    color: #11998e;
}
 .nav-link {
    color: #11998e;
}
.nav-link:hover{
    color: #878f99;
}

/*header*/

.main-header{
    min-height: 500px;
    background-size:cover;
    object-fit: cover;
}

.main-header p {
    font-family: monospace;
}
.background-overlay {
background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
top: 0;
left: 0;
width: 99vw;
height: 70vh;
}
/*Header img*/
.img .img-fluid{
    width: 90vw;
    height: 60vh;
    object-position: 50% 50%;
    object-fit: cover;
}
/*about section*/
#about .container{
    background:  #eaeded ;
a}
/*team section*/
#team .wraper{
    background-image: url(../img/bence-balla-schottner-deGn9vSwXIM-unsplash.jpg);
    background-size: cover;
    object-position: 50% 50%;
    object-fit: cover;
    width: 90vw;
}
#team .wrapper p h1 h3{
    color: #deeaee;
}

/*Footer*/
footer {
  background: #000;
}